# importing libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# setting the dataframe output

In [3]:
sns.set(rc={'figure.figsize': (13, 12)});
plt.figure(figsize=(14, 16));
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore", category=FutureWarning);

# loading the data

In [4]:
data = pd.read_csv('Car_sale_ads.csv')

# a glimpse of data

In [5]:
data.head()

,Index,Price,Currency,Condition,Vehicle_brand,Vehicle_model,Vehicle_version,Vehicle_generation,Production_year,Mileage_km,...,Transmission,Type,Doors_number,Colour,Origin_country,First_owner,First_registration_date,Offer_publication_date,Offer_location,Features
0,0,86200,PLN,New,Abarth,595,NaN,NaN,2021,1.0,...,Manual,small_cars,3.0,gray,NaN,NaN,NaN,04/05/2021,"ul. Jubilerska 6 - 04-190 Warszawa, Mazowiecki...",[]
1,1,43500,PLN,Used,Abarth,Other,NaN,NaN,1974,59000.0,...,Manual,coupe,2.0,silver,NaN,NaN,NaN,03/05/2021,"kanonierska12 - 04-425 Warszawa, Rembertów (Po...",[]
2,2,44900,PLN,Used,Abarth,500,NaN,NaN,2018,52000.0,...,Automatic,small_cars,3.0,silver,NaN,NaN,NaN,03/05/2021,"Warszawa, Mazowieckie, Białołęka","['ABS', 'Electric front windows', 'Drivers air..."
3,3,39900,PLN,Used,Abarth,500,NaN,NaN,2012,29000.0,...,Manual,small_cars,3.0,gray,NaN,NaN,NaN,30/04/2021,"Jaworzno, Śląskie","['ABS', 'Electric front windows', 'Drivers air..."
4,4,97900,PLN,New,Abarth,595,NaN,NaN,2021,600.0,...,Manual,small_cars,3.0,blue,NaN,NaN,NaN,30/04/2021,"ul. Gorzysława 9 - 61-057 Poznań, Nowe Miasto ...","['ABS', 'Electrically adjustable mirrors', 'Pa..."

there are 25 features. as mentioned before:
ID - unique ID of offer
Price - value of the price
Currency - currency of the price (mostly polish złoty, but also some euro)
Condition - new or used
Vehicle_brand - brand of vehicle in offer
Vehicle_model - model of vehicle in offer
Vehicle_generation - generation of vehicle in offer
Vehicle_version - version of vehicle in offer
Production_year - year of car production
Mileage_km - total distance that the car has driven in kilometers
Power_HP - car engine power in horsepower
Displacement_cm3 - car engine size in cubic centimeters
Fuel_type - car fuel type
CO2_emissions - car CO2 emissions in g/km
Drive - type of car drive
Transmission - type of car transmission
Type - car body style
Doors_number - number of car doors
Colour - car body color
Origin_country - country of origin of the car
First_owner - whether the owner is the first owner
First_registration_date - date of first registration
Offer_publication_date - date of publication of the offer
Offer_location - address provided by the issuer
Features - listed car features (ABS, airbag, parking sensors e.t.c)

## data types

In [6]:
data.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208304 entries, 0 to 208303
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    208304 non-null  int64
 1   Price                    208304 non-null  int64
 2   Currency                 208304 non-null  object
 3   Condition                208304 non-null  object
 4   Vehicle_brand            208304 non-null  object
 5   Vehicle_model            208304 non-null  object
 6   Vehicle_version          138082 non-null  object
 7   Vehicle_generation       147860 non-null  object
 8   Production_year          208304 non-null  int64
 9   Mileage_km               207321 non-null  float64
 10  Power_HP                 207661 non-null  float64
 11  Displacement_cm3         206338 non-null  float64
 12  Fuel_type                208304 non-null  object
 13  CO2_emissions            94047 non-null   float64
 14  Drive                    193228 non-null  object
 15  Transmission             207825 non-null  object
 16  Type                     208304 non-null  object
 17  Doors_number             206817 non-null  float64
 18  Colour                   208304 non-null  object
 19  Origin_country           118312 non-null  object
 20  First_owner              65094 non-null   object
 21  First_registration_date  86445 non-null   object
 22  Offer_publication_date   208304 non-null  object
 23  Offer_location           208304 non-null  object
 24  Features                 208304 non-null  object
dtypes: float64(5), int64(3), object(17)
memory usage: 39.7+ MB

As we can see we've got no empty (null) rows.Technically this wouldn't be a null field but in the context of our data it would definitely have the same meaning of Null.

## null values

In [7]:
data.isna().sum()

Index                           0
Price                           0
Currency                        0
Condition                       0
Vehicle_brand                   0
Vehicle_model                   0
Vehicle_version             70222
Vehicle_generation          60444
Production_year                 0
Mileage_km                    983
Power_HP                      643
Displacement_cm3             1966
Fuel_type                       0
CO2_emissions              114257
Drive                       15076
Transmission                  479
Type                            0
Doors_number                 1487
Colour                          0
Origin_country              89992
First_owner                143210
First_registration_date    121859
Offer_publication_date          0
Offer_location                  0
Features                        0
dtype: int64

there are a lot of missing values but they're going to be taken care of soon.

## cntral tendencies of numerical columns

In [8]:
data.describe().drop(['count'], axis=0)

,Index,Price,Production_year,Mileage_km,Power_HP,Displacement_cm3,CO2_emissions,Doors_number
mean,104151.500000,6.305383e+04,2012.098241,1.502768e+05,151.836281,1882.567147,3.191564e+05,4.637138
std,60132.329574,8.665967e+04,6.998414,2.937447e+06,77.683546,729.609660,7.291396e+07,0.768559
min,0.000000,5.000000e+02,1915.000000,1.000000e+00,1.000000,400.000000,1.000000e+00,1.000000
25%,52075.750000,1.780000e+04,2008.000000,5.300000e+04,105.000000,1461.000000,1.200000e+02,5.000000
50%,104151.500000,3.570000e+04,2013.000000,1.445660e+05,136.000000,1798.000000,1.400000e+02,5.000000
75%,156227.250000,7.599000e+04,2017.000000,2.060000e+05,172.000000,1997.000000,1.640000e+02,5.000000
max,208303.000000,6.999000e+06,2021.000000,1.111111e+09,1398.000000,8400.000000,2.000000e+10,55.000000

# data cleaning

In [9]:
#ckecking for any format difficulties
data.dtypes

Index                        int64
Price                        int64
Currency                    object
Condition                   object
Vehicle_brand               object
Vehicle_model               object
Vehicle_version             object
Vehicle_generation          object
Production_year              int64
Mileage_km                 float64
Power_HP                   float64
Displacement_cm3           float64
Fuel_type                   object
CO2_emissions              float64
Drive                       object
Transmission                object
Type                        object
Doors_number               float64
Colour                      object
Origin_country              object
First_owner                 object
First_registration_date     object
Offer_publication_date      object
Offer_location              object
Features                    object
dtype: object

we should take care of time because they all are in "object".

## changing dtypes to time

In [10]:
data['Offer_publication_date'] = pd.to_datetime(data['Offer_publication_date'], infer_datetime_format=True, errors='coerce')
data['First_registration_date'] = pd.to_datetime(data['First_registration_date'], infer_datetime_format=True,errors='coerce')

In [11]:
print(data['First_registration_date'].dtype)
print(data['Offer_publication_date'].dtype)
data['Offer_publication_date'].dt.month

datetime64[ns]
datetime64[ns]

0         4.0
1         3.0
2         3.0
3         NaN
4         NaN
         ...
208299    NaN
208300    2.0
208301    NaN
208302    NaN
208303    4.0
Name: Offer_publication_date, Length: 208304, dtype: float64

we have taken care of numerical and date ypes. let's take a look at the 'object' type features.

In [12]:
data.dtypes[(data.dtypes == 'object')]

Currency              object
Condition             object
Vehicle_brand         object
Vehicle_model         object
Vehicle_version       object
Vehicle_generation    object
Fuel_type             object
Drive                 object
Transmission          object
Type                  object
Colour                object
Origin_country        object
First_owner           object
Offer_location        object
Features              object
dtype: object

In [13]:
data['Currency'].value_counts()

PLN    208034
EUR       270
Name: Currency, dtype: int64

As we can see we've got 2 types of currencies here, the Euro and the polish zloty, because we only have a few EUR values in comparision to PlN. but since the extention rate differs frome time to time. we need to understand the time the dealership has been done!

In [14]:
data['Offer_publication_date'].dt.year.value_counts()

2021.0    103356
Name: Offer_publication_date, dtype: int64

so since all the dealership has been done in 2021. we are going to be using the 2021 EUR-PLN exchange rate.

In [15]:
EXCHANGE_RATE_EUR_PLN_2021 = 4.7033
data[(data['Currency'] == 'EUR')]['Price'] = data[(data['Currency'] == 'EUR')]['Price'] * EXCHANGE_RATE_EUR_PLN_2021

In [16]:
data['Currency'] = 'PLN'
data['Currency'].value_counts()

PLN    208304
Name: Currency, dtype: int64

as shown above, we only have one type of currency now.

In [17]:
data['Vehicle_brand'].value_counts()

Volkswagen    18455
BMW           16983
Audi          16730
Opel          16322
Ford          16007
              ...
FAW               1
MAN               1
Talbot            1
NSU               1
Vanderhall        1
Name: Vehicle_brand, Length: 108, dtype: int64

In [18]:
data['Vehicle_model'].value_counts()

Astra      5302
A4         4582
Seria 3    4570
Golf       4164
Passat     4049
           ...
Roma          1
HQ            1
Alaskan       1
10            1
750           1
Name: Vehicle_model, Length: 1203, dtype: int64

In [19]:
data['Condition'].value_counts()

Used    182850
New      25454
Name: Condition, dtype: int64

In [20]:
data['Vehicle_version'].value_counts()

2.0 TDI                             888
1.6                                 842
Standard                            647
2.0 TDCi Titanium                   619
1.2                                 604
                                   ...
Coupe 350 d 4-Matic Premium Plus      1
250 T CDI DPF 4Matic 7G-TRONIC        1
350 BlueTEC DPF 7G-TRONIC             1
65 AMG L AMG SPEEDSHIFT               1
Tourist 1.0 S                         1
Name: Vehicle_version, Length: 19056, dtype: int64

In [21]:
data['Vehicle_generation'].value_counts()

II (2012-)         3758
II (2010-)         2280
III (2013-)        2205
II (2016-)         2024
A (2008-2017)      1945
                   ...
II (1995-1999)        1
II (1995-2001)        1
II (1998-2001)        1
I (1993-1998)         1
Mk3 (1989-1996)       1
Name: Vehicle_generation, Length: 569, dtype: int64

In [22]:
data['Fuel_type'].value_counts()

Gasoline          99352
Diesel            92415
Gasoline + LPG     9027
Hybrid             5883
Electric           1553
Gasoline + CNG       70
Hydrogen              2
Ethanol               2
Name: Fuel_type, dtype: int64

In [23]:
data['Drive'].value_counts()

Front wheels                    139944
Rear wheels                      18081
4x4 (permanent)                  16986
4x4 (attached automatically)     15420
4x4 (attached manually)           2797
Name: Drive, dtype: int64

In [24]:
data['Transmission'].value_counts()

Manual       132889
Automatic     74936
Name: Transmission, dtype: int64

In [25]:
data['Type'].value_counts()

SUV              41587
station_wagon    40228
sedan            33271
compact          32150
city_cars        24110
minivan          22114
coupe             6374
small_cars        5974
convertible       2496
Name: Type, dtype: int64

In [26]:
data['Colour'].value_counts()

black       50355
gray        31826
silver      30886
white       30412
blue        21707
other       13805
red          9799
brown        5547
green        3633
burgundy     3442
golden       2677
beige        2488
yellow        961
violet        766
Name: Colour, dtype: int64

In [27]:
data['Origin_country'].value_counts()

Poland            57127
Germany           38166
France             4874
United States      4099
Belgium            4055
Switzerland        2152
Netherlands        1796
Italy              1385
Austria            1218
Sweden              733
Denmark             661
Canada              596
Other               378
Czech Republic      259
Great Britain       219
Luxembourg          210
Spain               128
Finland              62
Slovakia             48
Norway               46
Slovenia             22
Russia               18
Estonia               9
Ireland               8
Greece                7
Ukraine               6
Hungary               5
Lithuania             5
Monaco                4
Belarus               3
Romania               3
Croatia               2
Turkey                2
Iceland               2
Latvia                2
Bulgaria              1
Liechtenstein         1
Name: Origin_country, dtype: int64

unlike 'curency' other features does not need any reforming in their format.

In [28]:
data['First_owner'].value_counts()

Yes    65094
Name: First_owner, dtype: int64

as shown here we have a yes/no answer but a lot of our values are 'null' so we're going to take care of them soon.

In [29]:
data['Offer_location'].value_counts()

Stalowa 16 - 41-506 Chorzów, Śląskie (Polska)    1329
Radom, Mazowieckie                               1207
Kielce, Świętokrzyskie                           1112
Lublin, Lubelskie                                1082
Bydgoszcz, Kujawsko-pomorskie                     902
                                                 ...
Stawno, kamieński, Zachodniopomorskie               1
Przydwórz, wąbrzeski, Kujawsko-pomorskie            1
Stary Lubotyń, ostrowski, Mazowieckie               1
Korbielów, żywiecki, Śląskie                        1
Chęciny, garwoliński, Mazowieckie                   1
Name: Offer_location, Length: 13635, dtype: int64